.form {
  display: flex;
  margin: 16px 8px;
  gap: 8px;
  position: relative;
  width: 400px;
  @media screen and (max-width: 478px) {
    width: 300px;
  }
  .field {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid rgb(207, 209, 230);
    width: 100%;
  }
  .btn {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 2px;
    cursor: pointer;
  }
}
